﻿body {
    background-color: #ffffff;
    font-size: 11px;
}


.nav{
    height: 80px;
    font-size: 14px !important;
}
.navbar-brand {
    margin: 15px 0;
}

.lb-navigation li a {
    color: #515862;
    min-height: 80px;
    line-height: 40px;
}
.lb-navigation li a:hover {
    color: #ffffff !important;
    background-image: url(images/hoverShape.png);
    background-size: auto;
    background-position: bottom;
    background-repeat: repeat-x;
    background-color: #12a3d6;
}
.lb-navigation li:last-child {
    margin: 20px 20px !important;
}
li button {
    padding: 1px 15px !important;
    margin: 25px 20px !important;
}
li input {
    margin: 15px 0 !important;
}



.carousel-caption{
    margin-bottom: 10%;
}
.item img {
    min-height: 480px;
    min-width: 100%;
}
.carousel-indicators li {
            background-color: #adadad;
            display: inline-block;
            min-height: 3px;
            border: 2px solid #adadad;
}
.carousel-indicators .active {
            background-color: #2190c1;
            border: 3px solid #f98561;
            min-height: 3px;
}
.btn-warning {
    z-index: 1000;
    margin-top: 5%;
}
.glyphicon-chevron-right{
     display:none !important;
}
.glyphicon-chevron-left{
     display:none !important;
}
.carousel ol {
    width: 120%;
}



.lb-services .btn {
    margin-top: -46px;
    position: relative;
}
.lb-services {
    min-height: 310px;
    background-color: #f4f4f4;
    padding-top: 30px;
}
.lb-services div div div {
    text-align: center;
    min-width: 250px;
    
}
.lb-services div div a:hover {
    text-decoration: none;
    font-weight: 600;
    color: #3e9dd1;
}



.lb-portfolio {
    background-color: #2e3e4f;
    min-height: 515px;
}
.lb-portfolio div div {
    color: #f4f4f4;
    text-align: left;
    padding: 0 !important;
}
.lb-portfolio h2 {
    color: #f98561;
    margin: 50px 0;
}
.lb-portfolio h4 {
    color: #f98561;
}
.lb-portfolio img {
    min-height: 200px;
    border-radius: 0px;
    border: 5px solid #ffffff;
}
.lb-portfolio p {
    min-width: 280px;
    padding-right: 17%;
}
.lb-portfolio .btn {
    margin: 10% 17% 0;
}



.lb-offer {
    min-height: 275px;
    background-color: #f4f4f4;
}
.lb-offer h2 {
    text-align: center;
    color: #3e9dd1;
    margin: 20px auto 15px;
}
.lb-offer div div div p {
    margin: 10px auto;
    text-align: justify;
}
.lb-offer div div div:first-child p {
    text-align: center;
}
.lb-offer h4 {
    color: #3e9dd1;
    text-align: center;
}
.lb-offer .btn-info {
	box-shadow: 0 3px 0 0 #007299;
}
.lb-offer .btn-info:hover {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}
.lb-offer div div a:nth-child(even) {
    color: #12a3d6;
    font-style: initial;
}
.lb-nobtn:hover {
    text-decoration: none !important;
    font-weight: 900;
    color: #3e9dd1;
}



.lb-footer {
    min-height: 340px;
    background-color: #2e3e4f;
}
.lb-footer div div {
    line-height: 1.5em;
   }
.lb-footer div div h3 {
    color: #f98561;
}
.lb-footer div div p {
    color: #a3afb2;
}
.lb-recent-project {
    min-height: 55px;
    min-width: 55px;
    margin-right: 10px;
    background-color: #ffffff;
}
